@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@media screen and (max-width: 900px) {

    /******** OVERLAY STYLES ********/
    .overlay {
        position: fixed;

        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.4s ease;
        display: none;

        opacity: 1;

        z-index: 101;
    }

    /******** FIGURE STYLES ********/
    .sideNav figure {
        width: 11em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    /******** SIDENAV STYLES ********/
    .sideNav {
        height: 100%;
        width: 100vw;

        top: 0;
        right: -100vw;
        padding-top: 4.3em;

        position: fixed;

        z-index: 102;
        overflow-x: hidden;

        background-color: rgba(0, 0, 0, 0.4);

        transition: right 0.6s ease;
        
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .sideNav.open {
        right: 0;
      }

    .sideNav .closeBtn {
        position: absolute;

        font-size: 4em;

        right: 0;
        top: 0;

        cursor: pointer;
    }

    a.closeBtn:hover {
        color: rgb(213, 0, 0);

        transform: scale(1.1);
        transition: ease-in-out;
    }

    /******** SIDENAV A AND LI STYLES ********/
    .sideNav a, .sideNav li {
        text-decoration: none;
        font-family: "Rubik Mono One", monospace;
        font-size: 1.25em;
        color: white;
        cursor: pointer;
        margin: 0 3em 1em 0;
    }
}

@media screen and (min-width: 800px) {
    .sideNav, .overlay {
        display: none !important;
    }
}
